spring:
  application:
    name: hisaablite

  datasource:
    url: jdbc:mysql://localhost:3306/hisaablite?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=Asia/Kolkata
    username: hisaab
    password: hisaab123

  jpa:
    hibernate:
      ddl-auto: update
    database-platform: org.hibernate.dialect.MySQL8Dialect
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  thymeleaf:
    cache: false

server:
  port: 8080