spring:
  application:
    name: hisaablite
  config:
    import: optional:application-secrets.yml

  datasource:
    url: jdbc:mysql://localhost:3306/hisaablite?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=Asia/Kolkata
    username: hisaab
    password: hisaab123

  jpa:
    hibernate:
      ddl-auto: update
    database-platform: org.hibernate.dialect.MySQL8Dialect
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  thymeleaf:
    cache: false

  mail:
    host: smtp-relay.brevo.com
    port: 587
    username: ${mail.username}
    password: ${mail.password}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true

server:
  port: 8080