<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="footer" class="shop-footer">
    <div class="shop-footer-left">
        <div class="shop-footer-logo">
            <img th:src="@{/images/expygen-logo-light.png}" th:alt="${@appConfig.appName}" class="shop-footer-logo-image shop-footer-logo-image-dark">
            <img th:src="@{/images/expygen-logo-dark.png}" th:alt="${@appConfig.appName}" class="shop-footer-logo-image shop-footer-logo-image-light">
        </div>
    </div>
    <div class="shop-footer-center">
        <a th:href="@{/privacy}">Privacy</a>
        <a th:href="@{/terms}">Terms</a>
        <a th:href="@{/support}">Support</a>
    </div>
    <div class="shop-footer-right">
        <span class="shop-footer-status">
            <i class="fas fa-circle"></i>
            All systems operational
        </span>
        <span class="shop-footer-made">Made with <span class="heart">♥</span> in India</span>
        <span class="version" th:text="'v' + ${@appConfig.appVersion}">v2.1.2</span>
        <span class="shop-footer-copy" th:text="'© 2026 ' + ${@appConfig.appName}">© 2026 Expygen</span>
    </div>
</div>
</html>
